@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font style */
.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* share style */
.display-flex{
    display: flex;
}
/* color */
.gray-light{
    background-color: rgba(255, 144, 14, 0.1);
}
/* p tag */

.title{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}
/* button */
.btn{
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 21px 25px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    margin: 32px 0 50px 0;
}
.dark-0{
    color: white;
}
.dark-1{
    color: #131313;
}
.dark-2{
    color:rgba(66, 66, 66, 1);
}
.dark-3{
    color: rgba(114, 114, 114, 1);
}
.font-style-2-8{
    font-size: 2.8rem;
    font-weight: bold;
}

/* header style */
header{
    
}

.hero-1{
    max-width: 1440px;
    margin: 0 auto;
}
.nav-bar{
    justify-content: space-between;
    align-items: center;
}
.manu{
    gap: 30px;
}
.nav-bar li,a{
    
    text-decoration: none;
    color: #131313;
    list-style: none;
    
}
/* banner-container */
.banner-container{
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
}
.banner-container h1{
    font-size: 4rem;
    font-weight: 700;

}
.banner-img{
    width: 100%;
}

/* main style */
main{
    max-width: 1440px;
    margin: 0 auto;
}

.ql{
    font-size: 2.8rem;
    font-weight: 500;
}
main>section{
    margin-top: 130px;
}
/* team */
.team{
    justify-content: space-around;
    align-items: center;
}

/* img */
.team-img{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.team-img img{
    width: 100%;
}
/* .team-title */
.team-title{
    max-width: 537px;
}

.feature{
    color: #FF900E;
}


/* <!-- section 2--> */

.features{
    gap: 140px;
}
.lv-contain div{
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    padding: 30px;
    gap: 20px;
}
.lv-contain div h3{
    font-size: 20px;
    font-weight: 600;
    margin:  0;
}
/* button */

.btn-primary{
    padding: 42px 45px;
    margin-left: -92px;
    margin-top:-100px ;
    background-color: #FF900E;
}

.yr{
    font-size: 65px;
    font-weight: 700;
    color: white;
}
#ht{
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
    color: white;
}



/* Responsive */

@media screen and (max-width:576px) {
    .nav-bar{
        display: grid;
        grid-template-areas:
        "manu"
        "nv-head"
        ;
        text-align: center;
        justify-content: space-evenly;
    }
    .nv-head{
        grid-area: nv-head;
    }
    .manu{
        grid-area: manu;
        padding: 0;
    }

    /* main */
    /* section1 */
    .team{
        flex-direction: column;
    }
    /* section-2 */

    .features{
        flex-direction: column;
    }
    .lv-contain{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .lv-contain img{
        width: 100%;
    }

}